@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  padding:0;
  height:100%;
  width:100%;
  
}

body,
html {
  font-family: 'Poppins', sans-serif;
  /* font-family: 'Roboto', 'Open Sans', sans-serif; */
}